// .container-fluid

#aboutus {
  padding-top: 30px;
}

.mb-3 {
  text-align: center;
  padding-top: 100px;
}

.container-sm {
  padding: 20px;
}

// .linkedin {
//   display: flex;
//   justify-content: space-between;
// }

// .github {
//   display: flex;
//   justify-content: space-between;
// }
