@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:wght@100&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Sans&family=Nunito+Sans:wght@300&family=Poppins:wght@100&family=Roboto+Mono:wght@200&display=swap');

.lead{
  padding-top: 5px;
  padding-bottom: 5px;
  // font-family: 'Nunito Sans', sans-serif;
  // font-weight: bolder;
}

.h1{
  padding-top: 5px;
  padding-bottom: 5px;
}

.h3{
  padding-top: 5px;
  padding-bottom: 20px;
}