.main-footer {
    background-color: #f6f0ea;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    // height:auto;
    // color: black;
    text-align: center;
    .footer-image {
        width: 50%;
    }
}