.form-page{
    form{
      max-width: 100%;
      width: 600px;
      margin: 0 auto;
      border-radius: $border-radius;
      background-color: $dark-grey;
      padding: 30px;
      button{
        width: 200px;
        max-width: 100%;
      }
      .form-text{
        color: red;
      }
    }
  }