#teacher_card_link{
  text-decoration: none;
  color: black;
}

.image_container{
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.img-fluid{
  border-radius: 20px;
}

.form_container{
    height: auto; 
    width: auto; 
    max-width: 600px; 
}

.btn {
  height: auto; 
    width: auto; 
    max-width: 400px; 
}